section.allproducts{
    background-color: var(--blancofloral);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.allproducts__container{
    width: 80%;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 10%;
}

.allproducts__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.allproducts__title{
    font-size: 32px;
    font-weight: 700;
    color: var(--verde-oscuro);
}

.allproducts__add__boton {
    padding: 8px 20px 8px 20px;
    border-radius: 1.5em;
    width: fit-content;
    color: var(--morado);
    background-color: var(--verde4);
    border: 2px solid var(--morado);
    margin-right: 3em;
}

.allproducts__add__boton:hover{
    cursor: pointer;
    color: var(--verde-oscuro);
}

.product__list{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.product__list img{
    padding-bottom: 8px;
    width: 9em;
    border-radius: .5em;
    height: 12em
}

.product__list h2{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 8px;
}

.product__list p{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
}

.product__list a{
    font-size: 16px;
    color: var(--azul-100);
    font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tabletas */
    .allproducts__container{
        width: 90%;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 5%;
    }
    .allproducts__title{
        font-size: 22px;
    }
    
}


@media (max-width: 768px){
    .allproducts__container{
        
        width: 90%;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 5%;
    }
    .allproducts__title{
        font-size: 22px;
    }

    .allproducts__header{
        display: block;
    }

    .allproducts__add__boton{
        margin-top: 20px;
    }


}