
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 64px 32px 64px;
}

.header__items{
    display: flex;
    align-items: center;
}

.header__logo-image{
    
    width: 150px;
    padding-right: 15px;
    padding: 0 40px 0 5px;
}

.header__search{
    display: flex;
    border: 2px solid var(--morado);
    border-radius: 1.5em;
    align-items: center;
    background-color: var(--gris-claro);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__search-icon{
    height: 24px;
    width: 24px;
}

.header__search-input{
    border: none;
    margin-left: 10px;
    background-color: var(--gris-claro);
}

.header__search-button{
    border: none;
    padding: 0;
    margin-right: 12px;
}

.header__search-button:hover{
    cursor: pointer;
}

.header__login-boton{
    padding: 5px 30px 5px 30px;
    border-radius: 1.5em;
    border-color: var(--morado);
    background-color: var(--verde4);
    color: var(--morado);
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__login-boton:hover{
    cursor: pointer;
    color: var(--verde3);
}

.lupa{
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tabletas */
    .header__logo-image{
        width: 100px;
    }
    }


  @media (max-width: 768px){
    .header__logo-image{
        width: 100px;
    }
    .header__search{
        display: none;
    }

    .lupa{
        display: flex;
        
    }

  }