:root{
    --verde-oscuro: #2B494A;
    --verde2: #50A633;
    --verde3: #83B727;
    --verde4: #A5C51D;
    --morado: #733E82;
    --blanco: #ffffff;
    --blancofloral: #fffaf0;
    --gris-claro: #f5f5f5;
    --azul-100: #2A7AE4;



}

.body{
    background-color: var(--blancofloral);
}