section.formulario{
    background-color: var(--gris-claro);
    color: var(--verde-oscuro);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 64px;

}

.formulario__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

.formulario__logo{
    width: 176px;
}

.formulario__menu{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 500;
    font-size: 16px;
}

.formulario__contacto{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 40%;
}

.formulario__contacto_titulo{
    font-size: 16px;
    font-weight: 700;
}

.formulario__contacto_nombre{
    background-color: var(--blanco);
    font-size: 12px;
    font-weight: 400;
    padding: 1em 0.5em;
}

.formulario__contacto_nombreInput{
    width:100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    
}

.formulario__contacto__mensaje-text{
    border: none;
    padding: 1em 0.5em;
    width: 100%;
}

.contacto__boton{
    padding: 16px;
    border-radius: 1.5em;
    width: fit-content;
    color: var(--morado);
    background-color: var(--verde4);
    border: 2px solid var(--morado);
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tabletas */
    section.formulario{
        padding: 32px;
    }

    .formulario__container{
        flex-wrap: wrap;
        flex-direction: column;
        height: 20em;
    }

    .formulario__contacto{
        width: 66%;
    }

  }

  @media (max-width: 768px){
    .formulario__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 33em;
    }

    .formulario__logo{
        padding-bottom: 20px;
    }

    .formulario__menu{
        padding-bottom: 20px;
        align-items: center;
    }
    .formulario__contacto{
        width: 100%;
    }
        

  }